.bg-light {
    background-color: none;
}

.btn-buy-now {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: #000000;
    color: #fff;
}

.container {
   
    margin-bottom: 100px;
}

.carousel-item {
    padding: 10px 30px;

}

.see-more {
    color:#FFD899;
    font-weight: bolder;
}

.card-body {
    text-align: center;
}
